@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:700|Roboto:100,300,700');



html {
    background-color: #F4F6FC;
    margin: 0;
    padding: 0;
    font-family: Roboto;
    font-weight: 500;
}

.container {
    display: flex;
    flex-direction: column;
    padding: 0 30px;
}

header {
    height: 122px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav-ul {
    display: flex;
    justify-content: space-around;
    
}

.nav-ul li {
    padding: 0 1rem;
    list-style-type: none;
}

.nav-ul a {
    text-decoration: none;
    font-weight: 600
}

.nav-ul a:hover {
    color: #072AC8;
}

.home {
    color: #7DB8F7;
}

.no-home {
    color: #6B708D;
}

.contact-us {
    background-color: #072AC8;
    padding: 15px 36px;
}

.contact-us:hover {
    cursor: pointer;
    background-color: #292E47;
}

.contact-us a {
    text-decoration: none;
    color: white;
    font-weight: 600;
}

#empower {
    width: 1100px;
    height: 650px;
    display: flex;
    justify-content: center;
    padding: 0 15%;
}

.empower-text {
    width: 50%;
    height: 422px;
    margin-top: 50px;
}

.empower-h1 {
    font-size: 2.5rem;
    color: #292E47;
    margin-bottom: 30px;
}

.empower-p {
    font-size: 1.3rem;
    color: #6B708D;
    font-weight: 500;
    margin-bottom: 4rem;
}

.see-work {
    color: #6B708D;
    text-decoration: none;
    font-size: 1.2rem;
    margin-right: 1rem;
    font-weight: 500;
}

.get-touch {
    background-color: #072AC8;
    color: white;
    text-decoration: none;
    padding: 15px 36px;
    font-size: 1.2rem;
}

.empower-imgs {
    width: 50%;
    height: 650px;
    display: flex;
    position: relative;
}

.empower-img1 img{
    position: absolute;
    right: 310px;
    top: 0%;
    bottom: auto;
    max-width: 300px;
}



.empower-img2 img{
    width: 570px;
}

.empower-img3 img{
    position: absolute;
    left: auto;
    top: auto;
    right: -25%;
    bottom: -22%;
    max-width: 300px;
}

#logos {
    display: flex;
    justify-content: space-evenly;
    margin-top: 200px;
    margin-bottom: 200px;
    padding: 0 15%;

}

#projects {
    height: 561px;
    padding: 0 15%

}

.projects-title {
    color: #292E47;
    font-size: 1.5rem;
    margin-left: 50px;
}

.cards-container {
    display: flex;
    justify-content: space-around;
}

.card {
    background-color: white;
    width: 340px;
    height: 440px;
}

.card img {
    width: 340px;
    height: 240px;
}

.card-text {
    padding-left: 20px;
}

.card-text h3 {
    font-size: 1.5rem;
    font-weight: 600;
    color: #292E47;
}

.card-text a {
    text-decoration: none;
    color: #072AC8;
}

#clients {
    margin: 200px 15% 200px 15%;
    width: 1320px;
    height: 622px;
    background-color: #292E47;
    position: relative;
}

#prueba-circle {
    width: 200px;
    height:200px;
    background-color: rgba(0, 0, 0, 0);
    border-radius: 50%;
    border:2px dashed black;
}

.elipse1 {
    width: 1088px;
    height: 1088px;
    background-color: red;
    border: 1px dashed #F4F6FC;
    border-radius: 50%;
}